.mainSection{
    margin-top: 110px;
    margin-left: 9cm;
    margin-right: 1cm;
    right: 1cm;
    background-color:#F3E9DD ;
    right: 1cm;
    height: 30cm ;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 3cm;
    
}

.wrapperContent{
    
    height: 25cm;
    background-color: #F3E9DD;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 1cm;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    color: #484848;
    padding-bottom: 30px;
}

.body{
    background-color: white;
    overflow-y: scroll;
}

#summary{
    width: 7.5cm;
    background-color: #756954;
    height: 500px;
    border-radius: 25px 25px 25px 25px;
    margin-left: 1cm;
    top: 80px;
    margin-top: 1cm;
    position: absolute;
    text-align: center;
}

.icons{
    top: 4cm;
    width: 40px;
    border-left: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
}

.icons:hover{
    transform: scale(1.2);
}

#faceIcon{
    right: 10cm;
}

.personalPages{
    background-color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    top: 12px;
    position:absolute;
}

.line{
    background-color: #F3E9DD;
    border: none;
    height: 1px;
}

#headerLine{
    position: relative;
    top: 55px;
}

#footerLine{
    bottom: 1cm;
    position: relative;
    bottom: 55px;
}

#summary{
    
    color: #251a10;
    text-align: center;
  
    
}

#summaryText{

    left: 5px;
    margin-right: 10px;
    top: 1cm;
    right: 5px;
    position: relative;
    color: #F3E9DD;
    text-align: center;
    height: 10cm;
    font-size: 15px;
    font-family: serif ;

}

#personalImage{
    width: 3cm;
    border-radius: 50%;
    position: relative;
    top: 20px;
}

.titles{
    text-align: center;
    color: #251a10;
    -webkit-text-fill-color: #251a10;
    -webkit-text-stroke-color: #DAB88B;
    -webkit-text-stroke-width: 1.00px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#footer{
    background-color: #F5F5F5 ;
    height: 50px;
    top: 0cm;
    position: relative;
    text-align: center;
    

}

#contactMe{

    color: brown;
}

#inputMessage{
    height: 3cm;
    width: 10cm;
    
}

#inputTitle{
    width: 10cm;

}
#inputContact{
    width: 10cm;
  

}

.input{
    display: inline-block;
    float: left;
    margin-top: 10px;
    color: black ;
}

.input:focus{
    border-color: #251a10;
}

#form{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    width: 100px;
    margin-top: 10px;
    margin-left: 40px;
}


.cvButtons{
    border-radius:  10px 10px 10px 10px ;
    border: none;
    width: 6.5cm;
    height: 1cm;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #756954;
    -webkit-box-shadow: 0 8px 6px -6px #756954;
	-moz-box-shadow: 0 8px 6px -6px #756954;
	box-shadow: 0 8px 6px -6px #756954;
    color: #F3E9DD;
    font-family: sans-serif;
    font-size: 17px;

}

.cvButtons:hover{

    transform: scale(1.1);
    cursor: pointer;
}

::placeholder{
    color: #DCDCDC;
}

#chapeu{
    width: 2cm;
    margin-top: 0cm;
    position: absolute;
    top: 30px;
    right: 0;
   
}

#edText{
    margin-left: 1cm;
    box-sizing: border-box;
   
}

.wrapperContent h4 {

    background-color: #756954;
    height: 20px;
    color: #F3E9DD;

}

.xpText{
    text-align: left;
}

ul {
    margin-left: 0;
    left: 0 auto;
    display: table;
    text-align: left;
    list-style-type: circle;
  }


.skills li{
    float: left;
    justify-content: space-around;    
}

.wrapperContent p span{
    background-color:#756954;
    border-radius: 10px 10px 10px 10px;
    color:#484848;
    margin-right: 10px;
}

.bar{
    background-color: #F3E9DD;
    padding: 1px;
    border-radius: 13px;
    width: 300px;
    border: 1px solid #3895D3 ;
    margin-left: 20px;
}

.bar>div {
    background-color: #3895D3;
    height: 20px;
    border-radius: 13px;
}

#lgText p{
    text-align: Left;
}


.wrapperContent p{
    text-align: left;
    margin-left: 25px;
}

#rightSquare{
    top:0;
    width: 50%;
    height: 250px;
    background-color: #F3E9DD;
    left: 0;
    
}

#leftSquare{
    top: 41px;
    position: absolute;
    width: 50%;
    height: 250px;
    background-color: #F3E9DD;
    right: 0;
}